# Node.js
node_modules/

# Visual Studio Code
.vscode/
*.code-workspace

# React
/build/
/dist/
/.cache/
.DS_Store
.env
npm-debug.log*

# Ignore files with .vsidx extension
*.vsidx

# Ignore log files and databases
*.log
*.sqlite
*.sqlite3

obj/